* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  font-size: xx-large;
}
i:hover {
  cursor: pointer;
}
button {
  width: 100px;
  height: 50px;
}
body {
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  padding: 1vh;
  width: 100vw;
  background-color: grey;
}
.header .size-selector {
  height: 20%;
  width: 20%;
}
.header .timer {
  height: 20%;
  width: 20%;
}
.header .new-game {
  height: 20%;
  width: 20%;
}
.main {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  align-items: center;
  height: initial;
  width: 100vw;
  background-color: powderblue;
}
.main .field {
  min-width: 270px;
  max-width: 600px;
  border: solid black 0.2vh;
  border-radius: 0.5rem;
  position: relative;
}

.main .field .puzzle {
  position: absolute;
  border: solid black 1px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.footer {
  padding: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: fit-content;
  width: 100vw;
  background-color: mediumturquoise;
}
.footer .best-game {
}
.footer .mute {
}
.footer .assemble {
}
.footer .save {
}
